@model ForgotPasswordViewModel
@{
    ViewBag.Title = "Index";
}
<br />
<h4>Будь ласка введіть email від вашого аккаунту</h4>
<br />

<form asp-action="ForgotPassword" method="post">

    <div class="inputBlock">
        <br />
        <input class="allInput" type="email" asp-for="Email" />
        <span class="validation" asp-validation-for="Email"></span>
    </div>
    <div asp-validation-summary="ModelOnly" style="color: red; text-align: center"></div>
    <div>
        <input type="submit" value="Відправити" class="submitButton" />
    </div>
</form>
