@model AuthViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="main">
    <div class="container">
        <div id="loginTab" class="tab active" >Увійти</div>
        <div id="registerTab" class="tab" >Зареєструватися</div>
    </div>


    <div class="container">
        <div class="formDiv active" id="loginForm">

            <form asp-action="Login" method="post">
                
                <div class="inputBlock">
                    <label class="label">Login</label>
                    <input class="allInput" type="email" asp-for="LoginEmail" />
                    <span class="validation" asp-validation-for="LoginEmail"></span>
                </div>
                <div class="inputBlock">
                    <label class="label">Password</label>
                    <input class="allInput" asp-for="LoginPassword" type="password" />
                    <span class="validation" asp-validation-for="LoginPassword"></span>
                </div>
                <div asp-validation-summary="ModelOnly" style="color: red; text-align: center"></div>
                <div >
                    <input type="submit" value="Login" class="submitButton" />
                </div>
            </form>
            <a asp-area="" class="label" style=" text-decoration: none; padding-top: 15px ">Забули пароль?</a> 
            @* asp-controller="Login" asp-action="ForgetPassword" *@ @*Строка для рендеринга другой вьюшки*@
        </div>
       

        <div class="formDiv" id="registerForm">

            <form asp-action="Register">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="inputBlock">
                    <label class="label">FullName</label>
                    <input class="allInput" asp-for="RegisterName" type="text" />
                    <span class="validation"></span>
                </div>
                <div class="inputBlock">
                    <label class="label" asp-for="RegisterEmail">Email (Login)</label>
                    <input class="allInput" id="RegisterEmail" asp-for="RegisterEmail" type="email" />
                    <span class="validation" asp-validation-for="RegisterEmail" id="validationRegEmail"></span>
                </div>
                <div class="inputBlock">
                    <label class="label" asp-for="RegisterPhone">Phone</label>
                    <input class="allInput" id="RegisterPhone" asp-for="RegisterPhone" type="text" />
                    <span class="validation" asp-validation-for="RegisterPhone" id="validationRegisterPhone"></span>
                </div>
                <div class="inputBlock">
                    <label class="label">Password</label>
                    <input class="allInput" asp-for="RegisterPassword" type="password" />
                    <span class="validation" asp-validation-for="RegisterPassword"></span>
                </div>
                <div class="inputBlock">
                    <label class="label">Confirm Password</label>
                    <input class="allInput" asp-for="ConfirmPassword" type="password" />
                    <span class="validation" asp-validation-for="ConfirmPassword"></span>
                </div>
            
                <div class="confirmation-container">
                    <div style="display: flex; align-items: center;">
                        <input asp-for="confirmPersonalData" type="checkbox" style="margin-right: 15px;" />
                        <label class="label" style="font-size: 1.1em;">Підтвердження на обробку данних</label>
                    </div>
                    <label class="label" style="font-size: 0.8em; margin-top: 10px;">Також цим підтвердженням ви дозволяєте використання файлів cookies</label>
                    <span class="validation" asp-validation-for="confirmPersonalData"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Register" class="submitButton" id="submitRegister"/>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="result">

</div>

<script>
    
    $(document).ready(function () {
        $('#loginTab').on('click', function () {
            switchForm('login');
        });

        $('#registerTab').on('click', function () {
            switchForm('register');
        });
        function switchForm(formType) {
            document.getElementById('loginForm').classList.remove('active');
            document.getElementById('registerForm').classList.remove('active');
            document.getElementById('loginTab').classList.remove('active');
            document.getElementById('registerTab').classList.remove('active');

            if (formType === 'login') {
                document.getElementById('loginForm').classList.add('active');
                document.getElementById('loginTab').classList.add('active');
            } else {
                document.getElementById('registerForm').classList.add('active');
                document.getElementById('registerTab').classList.add('active');
            }

        }
       
        function setCookie(name, value, days) {
            let expires = "";
            if (days) {
                let date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 20));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + (value || "") + expires + "; path=/";
        }
       
        $('#RegisterEmail').change(function () {
            let email = $('#RegisterEmail').val();

            const url = '/Login/CheckEmail'; 
            console.log(email)
            checkEmail(url, email);
        });

        async function checkEmail(url, email) {
            try {
                const response = await fetch(url, {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json;charset=utf-8'
                    },
                    body: JSON.stringify(email)
                    
                });

                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }

                const responseData = await response.json();
                console.log(responseData);
                if (responseData.success === false) 
                {
                    $('#validationRegEmail').text(responseData.message);
                } 
                else 
                {
                    $('#validationRegEmail').text(''); 
                }
                
            } 
            catch (error) {
                console.error('Error:', error);
                $('#result').html = 'An error occurred';
            }
        }

        $('#submitRegister').click(function () {
            setCookie('cookies_policy_Agency', 'true', 7);
        });

    }); 
</script>
