@model SearchViewModel

@{
    ViewData["Title"] = "Home Page";
}
<div class="home-page-main-div" style="background-color: #B4DAF5">
    <h1 style="margin-top: 100px">Агенство нерухомості</h1>
   
    <div class="search">
        <div class="custom-select-wrapper">
            <div class="custom-select" id="operationSelect">
                <span></span>
            </div>
            <div class="custom-options" id="operationOptions">
            </div>

            <select id="operationNativeSelect" asp-items="ViewBag.OperatrionsList as SelectList" style="display:none;"></select>
        </div>

        <div class="custom-select-wrapper">
            <div class="custom-select" id="objectSelect">
                <span></span>
            </div>
            <div class="custom-options" id="objectOptions">
            </div>

            <select id="objectNativeSelect" asp-items="ViewBag.EsateTypesList as SelectList" style="display:none;"></select>
        </div>


        <div class="custom-select-wrapper">
            <div class="custom-select" id="localitySelect">
                <span></span>
            </div>
            <div class="custom-options" id="localityOptions">
            </div>

            <select id="localityNativeSelect" asp-items="ViewBag.LocalitiesList as SelectList" style="display:none;"></select>
        </div>

        <div class="search-buttons-div">
            <a id="toggleButton"> <img src="https://img.icons8.com/?size=100&id=LALXQcDwgx8U&format=png&color=000000" width="35px" height="35px" /></a>
            <button class="search-button" style="margin-left: 60px" >Знайти</button>
        </div>

        <div>
            <div id="filtration">
                <div class="filtration-container">
                    <div class="area-for-items">
                        <label>Площа</label>

                        <div class="range">
                            <input type="text" placeholder="Min" class="filtration-input" />
                            <input type="text" placeholder="Max" class="filtration-input" />

                        </div>

                    </div>
                    <div class="area-for-items">
                        <label>Ціна</label>

                        <div class="range">
                            <input type="text" placeholder="Min" class="filtration-input" />
                            <input type="text" placeholder="Max" class="filtration-input" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <div class="catalog">
        <div class ="catalog-header">
            <h2>КАТАЛОГ ОБ'ЄКТІВ</h2>
            <p >
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
          
        <div class="catalog-items">

            <form asp-action="FindByType" method="post" class="catalog-item vertical">
                <a onclick="this.closest('form').submit();" style="cursor:pointer;">
                    <img src="~/img/flats.webp" alt="Квартири">
                    <div class="catalog-item-text">
                        <h3>КВАРТИРИ</h3>
                    </div>
                    <input type="hidden" name="Type" value="Квартира" />
                </a>
            </form>
            <a class="catalog-item">
                <img src="~/img/house.jpeg" alt="Будинки">
                <div class="catalog-item-text">
                    <h3>БУДИНКИ</h3>
                </div>
            </a>
            <a class="catalog-item">
                <img src="~/img/garage.jpg" alt="Гаражі">
                <div class="catalog-item-text">
                    <h3>ГАРАЖІ</h3>
                </div>
            </a>

            <a class="catalog-item">
                <img src="~/img/plot.jpeg" alt="Ділянки">
                <div class="catalog-item-text">
                    <h3>ДІЛЯНКИ</h3>
                </div>
            </a>

        </div>
    </div>

</div>


<div class="text-center">
   
    <div id="cookie_note">
        <p>
            Мы используем файлы cookies для улучшения работы сайта. Оставаясь на нашем сайте, вы соглашаетесь с условиями
            использования файлов cookies. Чтобы ознакомиться с нашими Положениями о конфиденциальности и об использовании
            файлов cookie, <a href="#" target="_blank">нажмите здесь</a>.
        </p>
        <button class="button cookie_accept btn btn-primary btn-sm">Я согласен</button>
    </div>
</div>
<script>
    function setCookie(name, value, days) {
        let expires = "";
        if (days) {
            let date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 20));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "") + expires + "; path=/";
    }

    function getCookie(name) {
        let matches = document.cookie.match(new RegExp("(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"));
        return matches ? decodeURIComponent(matches[1]) : undefined;
    }


    function checkCookies() {
        let cookieNote = document.getElementById('cookie_note');
        let cookieBtnAccept = cookieNote.querySelector('.cookie_accept');

        // Если куки cookies_policy нет или она просрочена, то показываем уведомление
        if (!getCookie('cookies_policy_Agency')) {
            cookieNote.classList.add('show');
        }

        // При клике на кнопку устанавливаем куку cookies_policy на 10 дней
        cookieBtnAccept.addEventListener('click', function () {
            setCookie('cookies_policy_Agency', 'true', 7);
            cookieNote.classList.remove('show');
        });
    }

    checkCookies();

</script>
