.containerForOffice {
    display: flex;
    width: 99vw;
    margin: 0;
    padding: 0
     
}



.objects {
    background-color: #f4f3f7;
    
    padding: 20px;
    flex: 3;
    width: 99vw;
}

.info-for-employee {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    background-color: #cceaf4;
    padding: 10px;
    border-radius: 0 0 15px 15px; 
    border: 2px solid #052a5e;
    justify-content: space-between;
    flex-direction: column;
    z-index: 100;
    width: 100%;
    display: none;
    opacity: 0;
    transform: translateX(-50%) translateY(-30px);
    transition: opacity 0.5s ease, transform 0.3s ease;
}

    .info-for-employee.show {
        opacity: 1;
        visibility: visible;
        transform: translateX(-50%) translateY(0);
    }

.update-button {
    border: none;
    background-color: mediumseagreen;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    box-shadow: 0 0 15px -5px green;
    width: auto;
    height: auto;

}
    .update-button:hover {
        transition: all 0.1s;
        box-shadow: 0 0 20px -2px #11DB36;
        background-color: #29CC88;
        color: white
    }

.delete-button {
    border: none;
    background-color: #C41215;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    box-shadow: 0 0 5px -5px green;
    width: auto;
    height: auto;
}

    .delete-button:hover {
        transition: all 0.1s;
        box-shadow: 0 0 20px -2px red;
        background-color: #BD161D;
        color: white
    }



.panel-column {
    width: 98%;
    background-color: #f4f3f7;
    flex: 1;
    flex-direction: column;
    height: 100vh;
    display: flex
}

.custom-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    width: 100%;
}


.custom-li {
   padding: 3px;
    position: relative;
}


.custom-a {
    border-radius: 15px;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    display: block;
    background-color: #052a5e;
    text-align: center;
}


.dropdown {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    z-index: 1;
    padding: 0;
    margin: 0;
   
}


    .dropdown li {
        left: 0;
        list-style-type: none;
        width: 100%;
    }

        .dropdown li a {
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            background-color: #cceaf4;
            border-radius: 5px;
            color: #052a5e
        }


.custom-li:hover .dropdown {
   display: block;
   
}


.custom-a:hover, .dropdown li a:hover {
    background-color: #08469C;
    color: white;
}
