@import url('https://fonts.googleapis.com/css2?family=Abel&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Sedan+SC&family=Wix+Madefor+Display:wght@400..800&display=swap');
* {
    font-family: "Kanit", sans-serif;
   
}
html {
    font-size: 22px;
    
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 70px;
    background-color: #F4F3F7;
    background: linear-gradient(#F4F3F7 90%, #AFD2E9);
}
.main {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    
} /*стиль для главного div*/
.formDiv {
    top: 5px;
    position: relative;
    flex: 1;
    display: none;
    padding: 50px;
    background-color: #AFD2E9;
    border-radius: 25px;
    box-sizing: content-box;
    box-shadow: 5px 0 20px #052B5E;
    flex-direction: column;
    margin-top: 10px
}/*стиль для дивов в которых формы*/
.inputBlock {
    position: relative;
    height: 105px;
}/*стиль для блоков в которых инпуты*/
.allInput {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    width: 85%;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #F4F3F7;
    box-sizing: border-box;
    color: #F4F3F7;
    font-size: 18pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: inherit;
}/*стиль инпутов*/

    .allInput:focus {
        outline: none;
    }

.label {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: inherit;
    color: #F4F3F7;
}
.submitButton {
    width: 90%;
    padding: 8px;
    background-color: #052B5E;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    font-size: 18pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: inherit;
    box-shadow: 0 0 10px -5px #2D5C29;
    transition: all 0.1s;
    display: block;
    text-align: center;
    margin: 0 auto 0;
}/*стиль для submit кнопки*/
    .submitButton:hover {
        bottom: 31px;
        font-size: 1.3rem;
        background-color: #2685CC;
        transition: all 0.1s;
        box-shadow: 0 0 20px -2px #00A2E8;
    }

@media (max-width: 450px) {
  
    .formDiv {
       
        background-color: transparent;
        border: none;
        box-shadow: none;
    }
    .allInput {
        height: 30%;
        width: 100%;
        color: black;
        /* border: 3px solid black;*/
        background-color: #D3DDFF
    }
    .label {
        color: black;
        font-weight: 200
    }
    .submitButton{
        width: 100%;
        height: 2%;
    }
    .formDiv .validation {
        color: red;
    }
    
   
}
@media (max-width: 1050px) {

    .formDiv{
        padding: 35px;
    }

}

.container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.tab {
    cursor: pointer;
    padding: 10px;
    border-bottom: 2px solid transparent;
}

    .tab.active {
        border-bottom: 2px solid #000;
    }

.formDiv.active {
    display: block;
}

.validation {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    color: white;
} /*исправить позже, когда дойдет до валидации*/

  /*стилизация header*/

#animationdiv {
    height: 12px;
    background: linear-gradient(to right,#052B5E, #AFD2E9, #F4F3F7);
    background-size: 200% 200%;
    animation: gradient 4s ease infinite;
}
@keyframes gradient{
    0%{
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
.btn-menu {
    padding-right: 7px;
    margin-right: 7px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: inherit;
    color: #052B5E;
    padding-left: 0;
    font-size: 16pt;
}
.my-link-menu {
    padding-right: 7px;
    margin-right: 7px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: inherit;
    color: #052B5E !important;
    padding-left: 0;
    font-size: 16pt;
}
nav {
    background: linear-gradient(#AFD2E9, #F4F3F7 50%);
}

