@import url('https://fonts.googleapis.com/css2?family=Abel&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Sedan+SC&family=Wix+Madefor+Display:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Sedan+SC&family=Wix+Madefor+Display:wght@400..800&display=swap');
* {
    font-family: "Kanit", sans-serif;
   
}
html {
    font-size: 22px;
    
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    /*margin-bottom: 70px;*/
    background-color: #F4F3F7;
    background: linear-gradient(#F4F3F7 90%, #AFD2E9);
}
.main {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    
} /*стиль для главного div*/
.formDiv {
    top: 5px;
    position: relative;
    flex: 1;
    display: none;
    padding: 50px;
    background-color: #AFD2E9;
    border-radius: 25px;
    box-sizing: content-box;
    box-shadow: 5px 0 20px #052B5E;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 35px;
}/*стиль для дивов в которых формы*/
.inputBlock {
    position: relative;
    height: 110px;
}/*стиль для блоков в которых инпуты*/

.allInput {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    width: 85%;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #052B5E;
    box-sizing: border-box;
    color: #052B5E;
    font-size: 18pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: inherit;
}/*����� �������*/

    
/*стиль инпутов*/


    .allInput:focus {
        outline: none;
    }

.label {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: inherit;
    /* color: #F4F3F7;*/
    color: #052B5E;
}
.submitButton {
    width: 90%;
    padding: 8px;
    background-color: #052B5E;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    font-size: 18pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: inherit;
    box-shadow: 0 0 10px -5px #2D5C29;
    transition: all 0.1s;
    display: block;
    text-align: center;
    margin: 0 auto 0;
}/*стиль для submit кнопки*/
    .submitButton:hover {
        bottom: 31px;
        font-size: 1.3rem;
        background-color: #2685CC;
        transition: all 0.1s;
        box-shadow: 0 0 20px -2px #00A2E8;
    }


.confirmation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    margin: 10px;
}

@media (max-width: 450px) { /*Изменение стилей для мобильной версии*/

    .formDiv {
       
        background-color: transparent;
        border: none;
        box-shadow: none;
    }
    .allInput {
        height: 30%;
        width: 100%;
        color: black;
        /* border: 3px solid black;*/
        background-color: #D3DDFF
    }
    .label {
        color: black;
        font-weight: 200
    }
    .submitButton{
        width: 100%;
        height: 2%;
    }
    .formDiv .validation {
        color: red;
    }
    .home-page-main-div h1 {
        font-size: 1.4em;
    }
   
}

@media (max-width: 1050px) {

    .formDiv{
        padding: 35px;
    }

    h1 {
        font-size: 1.6em;
    }


}

.container {
    display: flex;
    justify-content: center;
    
}

.tab {
    cursor: pointer;
    padding: 10px;
    border-bottom: 2px solid transparent;
}

    .tab.active {
        border-bottom: 2px solid #000;
    }

.formDiv.active {
    display: block;
}

.validation {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    color: red;
   margin: 0;
   padding: 0;

} /*��������� �����, ����� ������ �� ���������*/

  /*���������� header*/

#animationdiv {
    height: 12px;
    background: linear-gradient(to right,#052B5E, #AFD2E9, #F4F3F7);
    background-size: 200% 200%;
    animation: gradient 4s ease infinite;
}
@keyframes gradient{
    0%{
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
.btn-menu {
    padding-right: 7px;
    margin-right: 7px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: inherit;
    color: #052B5E;
    padding-left: 0;
    font-size: 16pt;
}
.my-link-menu {
    padding-right: 7px;
    margin-right: 7px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: inherit;
    color: #052B5E !important;
    padding-left: 0;
    font-size: 16pt;
}
.nav-gradient {
    background: linear-gradient(#AFD2E9, #F4F3F7 50%);
}

 /*исправить позже, когда дойдет до валидации*/
#cookie_note {
    display: none;
    position: absolute;
    bottom: 30%;
    left: 0%;
    max-width: 150%;
    max-height: 90%;
    transform: translateX(-50%);
    transform: translateY(80%);
    padding: 10px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);
}

    #cookie_note p {
        margin: 0;
        font-size: 0.7rem;
        text-align: left;
        color: black;
    }

.cookie_accept {
    width: 30%;
}

@media (min-width: 536px) {
    #cookie_note.show {
        display: flex;
    }
}

@media (max-width: 535px) {
    #cookie_note.show {
        display: block;
        text-align: center;
    }
}


/*Lev's code*/

.body-home-page {
    background-image: url('https://sotni.ru/wp-content/uploads/2023/08/niuiork-4-1.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* height: 100vh;*/
}

h1 {
    margin-top: 50px;
    font-family: "Playfair Display SC", serif;
}

.main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.search {
    width: 50vw;
    max-width: 1200px;
    height: 7vh;
    background-color: white;
    display: flex;
    /*align-items: center;
    
    justify-content: center;*/
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 100px;
    background-color: #f3f2f7;
    position: relative;
    margin-bottom: 20%;

}

/*.catalogue {
    background-color: white;
    width: 99vw;
    height: auto;
    text-align: center;
    margin-bottom: 40%;
}*/

@media (max-width: 850px) {
    

    .custom-select-wrapper .custom-select {
        padding: 0 100px 30px 30px;
        transform: translateX(-30%);
    }

    .custom-select-wrapper .custom-options {
        width: auto;
        transform: translateX(-20%);
    }
    .custom-select::after {
        left: 150px !important; 
    }

    .search {
        width: 90%;
        height: auto;
        flex-direction: column;
        gap: 20px;
        margin: 20px auto;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .search-buttons-div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        width: 100%;
        justify-content: center;
    }

    .search-button {
        flex: 2;
        padding: 15px 20px;
        font-size: 1.2em;
        border-radius: 15px;
        background-color: #052a5e;
        color: white;
        border: none;
        margin-right: 55px
    }

    #toggleButton {
        width: 45px;
        height: 45px;
        background-color: #afd1ea;
        border-radius: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #filtration {
        height: 49vh !important;
    }
}

@media (max-width: 390px) {
    .home-page-main-div h1 {
        font-size: 1.2em;
    }
}

.custom-select-wrapper {
    position: relative;
    width: 20%;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0 10px;
}


.custom-select {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    /* border: 1px solid #dcdcdc;*/
    /* border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
    padding: 2px 25px 0px 10px;
    text-align: center;
    font-size: 1em;
    color: #333333;
    height: 30px;
   
    width: 10vw;
    top: 0;
    margin: 0;
}

    .custom-select::after {
        content: '▼';
        font-size: 1.1em;
        color: black;
        position: absolute;
        top: 55%;
        right: 10px;
        transform: translateY(-50%);
        pointer-events: none;
        transition: transform 0.3s;
    }

    .custom-select.active::after {
        content: '▲';
    }

.custom-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #f3f2f7;
    border: 1px solid #dcdcdc;
    border-radius: 7px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
    border: none;
    z-index: 1000;
}

.custom-option {
    padding: 10px 20px;
    font-size: 1em;
    color: #333333;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s,border-radius 0.3s;
}


    .custom-option:hover {
        background-color: #052a5e;
        color: #ffffff;
        border-radius: 7px
    }

.custom-select.active + .custom-options {
    display: block;
}

#filtration {
    display: none;
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    border-radius: 7px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-15%);
    width: 90%;
    height: 15vh;
    z-index: 10;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    flex-direction: column;
}

    #filtration.show {
        display: block;
        transform: translateX(-50%) translateY(0);
        opacity: 1;
    }



.filtration-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
     flex-direction: row;
}


.area-for-items { /*Вертильные блоки для фильтрации*/
    display: flex;
    flex-direction: column;
    width: 48%;
    padding: 5px;
    box-sizing: border-box;
   
    margin: 5px;
    height: 80%;
}


.range {
    display: flex;
    gap: 10px;
}

.filtration-input {
    width: 100%;
    padding: 5px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
}

#filtration.hide {
    max-height: 0;
}

.search-buttons-div {
    display: flex;
    align-items: center;
    gap: 20px;
}

#toggleButton {
    margin-left: 70px;
    background-color: #afd1ea;
    border-radius: 7px;
}

.search-button {
    background-color: #052a5e;
    color: white;
    padding: 7px 10px 7px 10px;
    border-radius: 15px;
    font-family: "Playfair Display SC", serif;
    font-size: 0.9em;
    font-weight: bold;
    width: 35%;
}



