@model IEnumerable<REAgency.Models.ObjectsViewModel>
@{
    ViewData["Title"] = "Office";
}
<div>
    <a asp-action="Create" asp-controller="Office">Додати об'єкт</a>
</div>
<p>@Context.Session.GetString("Name")</p>
